img {
	width: 150px;
	height: auto;
}

section {
	max-width: 90%;

}

/*#background-img {
	background-image: url("../../assets/images/mine.jpg");
	opacity: 0.5;

}*/

#num-to-guess {
	font-size: 150%;
}

.panel-top {
	font-size: 150%;
}

.panel {
	max-width: 80%;
	margin: auto;
	margin-top: 25px;
	

}